<div id="navbar-main">
  <!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
      </button>
      <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="/" class="smoothScroll">Home</a></li>
          <li> <a href="/regulation" class="smoothScroll">Regulation</a></li>
          <li> <a href="/about" class="smoothScroll">About Us</a></li>
          <li> <a href="/help" class="smoothScroll">Help</a></li>
          <li> <a href="/map" class="smoothScroll">Map</a></li>
          <li> <a href="/signin" class="smoothScroll">Sign In</a></li>
          <li> <a href="/faq" class="smoothScroll">FAQ</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>
