<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    we are here watching you all. If you commit wrong, i'll prison you in array
  </body>
</html>
